body {
    background: url("../img/5.jpg") no-repeat;
    /*background-size: 100% 100%;*/
    /*-moz-background-size: 100% 100%;*/
}

html,body,.container{
    height: 100%;
    width: 100%;
}

.form {
    background: rgba(255, 255, 255, 0.2);
    width: 400px;
    margin: 120px auto;
}

.form2 {
    display: table-cell;
    vertical-align: middle;
}

.container{
    display:table;
    height:100%;
}

/*阴影*/
.fa {
    display: inline-block;
    top: 27px;
    left: 6px;
    position: relative;
    color: #ccc;
}

input[type="text"], input[type="password"] {
    padding-left: 26px;
}

.checkbox {
    padding-left: 21px;
}

