body {
    background: url("../img/main-bg.jpg") no-repeat;
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}

tbody {
    border: hidden;
}

.search-area {
    margin-top: 2%;
}

.input-wrapper {
    width: 75%;
    display: inline-block;
}

.tag {
    margin-top: 4%;
    /*background: rgba(191, 239, 255, 0.92);*/

}

.table1 {
    /*background: rgba(255, 255, 255, 1);*/
    width: 1000px;
    /*display: inline-block;*/

}

.main-row {
    /*height: 610px;*/
    /*height: 90%;*/
}

.main-bg {
    background: rgba(255, 255, 255, 0.92);
    margin-top: 4%;
    width: 75.5%;
    position: fixed;
    padding: 0;
    height: 605px;

}

.form-control {
    background: url(../img/search.png) left center no-repeat #fff;
    padding-left: 55px;
    background-position-x: 25px;
    border-radius: 25px;
    height: 50px;
}

.input-wrapper .form-control {
    width: 100%;
}

.c1 {
    color: #fff;
    background-color: #0D1740;
}
.c2 {
    color: #fff;
    background-color: #16245C;
}
.c3 {
    color: #000000;
    background-color: #F8F2DC ;
}
.c4 {
    color: #fff;
    background-color: #A39F93;
}
.c5 {
    color: #000000;
    background-color: #E9CFAE;
}
.bg-color{
    color: #000000;
    background-color: #f7f7f7;
    opacity: 0.94;
}



.btn_search {
    border-radius: 25px;
    /*background-color: #ffb400;*/
    height: 50px;
    font-size: 20px;
    font-family: Avenir-Black, sans-serif;
    width: 136px;
}

.label_title {
    border-bottom: 1px solid #1b1e21;
    padding: 3%;
    /*margin-top: 20px;*/
}

.label_set {
    height: auto;
    display: inline-block;
    /*width: 50%;*/
}

.label_button {
    margin: 0.1%;
}

.bootstrap-table {
    display: inline-block;
    position: absolute;
}

.course_card {
    z-index: 500;
    display: none;
}

#selected_label {

}

#label {
    z-index: 150;
    padding: 1% 5px 3%;
}

.main-bg #class_table {
    width: 75%;
}

#class_table {
    z-index: 100;
    position: fixed;

}

#a {
    z-index: 100;
}

#myModal {
    margin: 8%;
    width: 80%;
    height: 80%;
}

#class_card_body {
    height: 430px;
    width: 800px;

}